@using webbandienthoai.Models;
@model SanPham 
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout_chitietsp.cshtml";
}
@{
    IEnumerable<SanPham> tuongtu = (IEnumerable<SanPham>)ViewBag.sptuongtu;
    decimal? deal = Model.DonGia;
    decimal percent = 0;
    if (Model.MaKhuyenMai != null)
    {
        if (DateTime.Now >= Model.KhuyenMai.NgayBatDau && DateTime.Now <= Model.KhuyenMai.NgayKetThuc)
        {
            percent = Model.KhuyenMai.PhanTramGiamGia;
        }
    }
    decimal? price = deal - (deal * (percent / 100));
}
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li><a href="#">Sản Phẩm</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh2)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh3)" alt="">
                    </div>
                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh4)" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh2)" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh3)" alt="">
                    </div>
                    <div class="product-preview">
                        <img src="@Url.Content("~/Content/Images/Products/"+Model.HinhAnh4)" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.TenSP</h2>
                    <div>
                        <div class="product-rating">
                            @Html.Raw(webbandienthoai.Models.Common.html_danhgia(Model.DanhGia))
                        </div>
                        <a class="review-link" href="#">Sản phẩm còn @Model.SoLuongTon </a>|
                        <a class="review-link" href="#">Đã bán @Model.SoLanMua</a>
                    </div>
                    <div>
                        <h3 class="product-price">
                            @string.Format("{0:N0} \u20ab", price)
                            @if (price != deal)
                            {
                                <del class="product-old-price">@string.Format("{0:N0} \u20ab", deal)</del>
                            }
                        </h3>
                    </div>
                    <p>@Html.Raw(Model.MoTa)</p>
                    <div class="qty-label">
                        <b>Số Lượng</b> 
                        <div class="input-number" style="width: 85px; margin: 12px 0">
                            <input type="number" class="qutity" value="1" readonly>
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        @if (Session["TaiKhoans"] != null && Session["TaiKhoans"].ToString() != "")
                        {
                            <button class="add-to-cart-btn btnthem" onclick="themgiohang(@Model.MaSP)"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                        }
                        else
                        {
                            <button class="add-to-cart-btn btnthem" onclick="redirectToLoginPage()"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- Product tab -->
<div class="col-md-12">
    <div id="product-tab">
        <!-- product tab nav -->
        <ul class="tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab1">Thông số kỹ thuật</a></li>
            <li><a data-toggle="tab" href="#tab2">Bình luận</a></li>
        </ul>
        <!-- /product tab nav -->
        <!-- product tab content -->
        <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p>@Html.Raw(Model.CauHinh)</p>
                        </div>
                    </div>
                </div>
            </div><br />
            <!-- /tab1  -->
            <!-- tab2  -->
            <div id="tab2" class="tab-pane fade in">
                <div class="row">
                    <!-- Rating -->
                    @Html.Action("tk_BinhLuan", "BinhLuan", new { @MaSP = Model.MaSP })
                    <!-- /Rating -->
                    <!-- Reviews -->
                    @Html.Action("ds_BinhLuan", "BinhLuan", new { @MaSP = Model.MaSP })
                    <!-- /Reviews -->
                    <!-- Review Form -->
                    @Html.Action("Form_BinhLuan", "BinhLuan", new { @MaSP = Model.MaSP })
                    <!-- /Review Form -->
                </div>
            </div><br />
            <!-- /tab2  -->
            <!-- /tab3  -->
        </div>
        <!-- /product tab content  -->
    </div>
</div>
<!-- /product tab -->
@Html.Action("SanPhamTuongTu", "SanPham", new {@id=Model.MaSP})
<script>
    function redirectToLoginPage() {
        window.location.href = '@Url.Action("DangNhap", "Login")'; // Chuyển hướng đến trang đăng nhập
    }
</script>
<script>
    function themgiohang(iMaSP) {
        var sl = $(".qutity").val();
        console.log(sl);
        $.ajax({
            url: '@Url.Action("ThemGioHang", "GioHang")',
            type: 'POST',
            data: {
                iMaSP: iMaSP,
                sl: sl
            },
            success: function(response) {
                if (response.success) {
                    alert(response.message); // Thông báo thành công
                    window.location.reload();
                } else {
                    alert(response.message); // Thông báo lỗi
                }
            },
            error: function (e) {
                console.log(e);
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }
        });
    }
</script>