@using webbandienthoai.Models;
@model IEnumerable<SanPham>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản Phẩm Bán Chạy</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                @foreach (var item in Model.Take(8))
                                {
                                    decimal? deal = item.DonGia;
                                    decimal percent = 0;
                                    if (item.MaKhuyenMai != null)
                                    {
                                        if (DateTime.Now >= item.KhuyenMai.NgayBatDau && DateTime.Now <= item.KhuyenMai.NgayKetThuc)
                                        {
                                            percent = item.KhuyenMai.PhanTramGiamGia;
                                        }
                                    }
                                    decimal? price = deal - (deal * (percent / 100));

                                    <div class="product">
                                        <a href="@Url.Action("ChiTietSanPham","SanPham",new {id=item.MaSP})">
                                            <div class="product-img">
                                                <img src="@Url.Content("~/Content/images/Products/"+item.HinhAnh)" alt="">
                                                <div class="product-label">
                                                    <span class="sale">@percent%</span>
                                                    <span class="new">NEW</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-body">
                                            <p class="product-category">@item.NhaSanXuat.TenNSX</p>
                                            <h3 class="product-name"><a href="#">@item.TenSP</a></h3>
                                            <h4 class="product-price">
                                                @string.Format("{0:N0} \u20ab", price)
                                                @if (price != deal)
                                                {
                                                    <del class="product-old-price">@string.Format("{0:N0} \u20ab", deal)</del>
                                                }
                                            </h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Thêm Vào Yêu Thích</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Thêm So Sánh</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Chi tiết</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            @if (Session["TaiKhoans"] != null && Session["TaiKhoans"].ToString() != "")
                                            {
                                                <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMaSP = item.MaSP, @sl = 1, @Url = Request.Url.ToString() })">
                                                    <button class="add-to-cart-btn btnthem"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                                                </a>
                                            }
                                            else
                                            {
                                                <button class="add-to-cart-btn btnthem" onclick="redirectToLoginPage()"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                                            }
                                        </div>
                                    </div>
                                }
                                <!-- /product -->

                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<script>
    function redirectToLoginPage() {
        window.location.href = '@Url.Action("DangNhap", "Login")'; // Chuyển hướng đến trang đăng nhập
    }
</script>
