@using webbandienthoai.Models
@model IEnumerable<SanPham>
<!-- /SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Sản Phẩm tương tự</h3>
                </div>
            </div>
            @foreach (var item in Model.Take(4))
            {
                decimal? deal = item.DonGia;
                decimal percent = 0;
                if (item.MaKhuyenMai != null)
                {
                    if (DateTime.Now >= item.KhuyenMai.NgayBatDau && DateTime.Now <= item.KhuyenMai.NgayKetThuc)
                    {
                        percent = item.KhuyenMai.PhanTramGiamGia;
                    }
                }
                decimal? price = deal - (deal * (percent / 100));
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = item.MaSP })">
                            <div class="product-img">
                                <img src="@Url.Content("~/Content/images/Products/" + item.HinhAnh)" alt="">
                                <div class="product-label">
                                    @if (percent != 0)
                                    {
                                        <span class="sale">@percent%</span>
                                    }
                                    @if (item.Moi == true)
                                    {
                                        <span class="new">NEW</span>
                                    }

                                </div>
                            </div>
                        </a>
                        <div class="product-body">
                            <p class="product-category">@item.NhaSanXuat.TenNSX</p>
                            <h3 class="product-name"><a href="#">@item.TenSP</a></h3>
                            <h4 class="product-price">
                                @string.Format("{0:N0} \u20ab", price)
                                @if (price != deal)
                                {
                                    <del class="product-old-price">@string.Format("{0:N0} \u20ab", deal)</del>
                                }
                            </h4>
                            <div class="product-rating">
                                @Html.Raw(webbandienthoai.Models.Common.html_danhgia(item.DanhGia))
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">yêu thích</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">so sánh</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">chi tiết</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn btnthem" onclick="themgiohang(@item.MaSP)"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            }
            <!-- /product -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<script>
    function themgiohang(iMaSP) {
        $.ajax({
            url: '@Url.Action("ThemGioHang", "GioHang")',
            type: 'POST',
            data: {
                iMaSP: iMaSP,
                sl: 1
            },
            success: function(response) {
                if (response.success) {
                    alert(response.message); // Thông báo thành công
                    window.location.reload();
                } else {
                    alert(response.message); // Thông báo lỗi
                }
            },
            error: function() {
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }
        });
    }
</script>