@model webbandienthoai.Models.KhuyenMai

@{
    ViewBag.Title = "Xóa khuyến mãi";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h2 style="margin:10px 0">Khuyến Mãi/Xóa khuyến mãi</h2>

@using (Html.BeginForm("Xoa", "KhuyenMai", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin:10px 0">Xóa Khuyến mãi</h4>
        <hr />
        @Html.Hidden("MaKhuyenMai", Model)
        <div class="form-group">
            @Html.LabelFor(model => model.TenKhuyenMai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKhuyenMai, new { htmlAttributes = new { @class = "form-control",@disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhanTramGiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhanTramGiamGia, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayBatDau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayBatDau, "{0:yyyy-MM-dd}",new { @class = "form-control", @disabled = "disabled",type="date" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKetThuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayKetThuc, "{0:yyyy-MM-dd}",new { @class = "form-control", @disabled = "disabled", type = "date" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "KhuyenMai")" class="btn btn-danger">Quay lại</a>
                <input type="submit" value="Xóa" class="btn btn-success btnthem" />
            </div>
        </div>
    </div>
}

