@using webbandienthoai.Models;
@model ThanhVien
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +8439 667 1002</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> dragonphone17@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> An Tân - Thái Thụy - Thái Bình</a></li>
            </ul>
            <ul class="header-links pull-right">
                @if (Session["TaiKhoans"] != null && Session["TaiKhoans"].ToString() != "")
                {
                    ThanhVien tv = (ThanhVien)Session["TaiKhoans"];
                    <li><i class="fa fa-car"></i>@Html.ActionLink("Đơn Hàng", "XemDonHang", "DonHang")</li>
                    <li style="color:#fff"><i class="fa fa-user-o"></i>@tv.HoTen </li>
                    <li><i class="fa fa-lock"></i>@Html.ActionLink("Đăng Xuất", "DangXuat", "Login")</li>
                }
                else
                {
                    <li><a href="@Url.Action("DangNhap","Login")"><i class="fa fa-lock"></i>Đăng Nhập</a> </li>
                    <li><a href="@Url.Action("DangKy","Register")"><i class="fa fa-lock"></i> Đăng Ký</a></li>
                }
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="~/Content/Images/Logo/logo.png" alt="" style="width:auto;height:60px">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
                        { 
                            <input type="text" name="sTuKhoa" class="input" placeholder="Tìm kiếm ở đây" style="width: calc(100% - 160px); margin-right: -4px; border-radius: 40px 0px 0px 40px;">
                            <input type="submit" class="search-btn" value="Tìm Kiếm"/>
                        }
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Yêu thích</span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->
                        @Html.Action("GioHangIcon", "GioHang")
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
