@using webbandienthoai.Models;
@model IEnumerable<SanPham>
<style>
    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        z-index: 1;
        margin-top: 5px; /* Thêm khoảng cách giữa mục cha và mục con */
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu ul {
        list-style: none; /* Loại bỏ dấu đầu dòng */
        padding: 0; /* Loại bỏ lề */
    }

    .dropdown-menu li {
        display: block;
    }

        .dropdown-menu li a {
            padding: 10px;
            color: #333;
            text-decoration: none;
            display: block;
        }

            .dropdown-menu li a:hover {
                background-color: #f2f2f2;
            }
</style>
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                @foreach (var groupitem in Model.GroupBy(n => n.LoaiSanPham.DanhMuc))
                {
                    if (groupitem.Key != null)
                    {
                        <li class="dropdown">
                            <a href="#">@groupitem.Key.TenDanhMuc</a>
                            <div class="dropdown-menu">
                                <ul>
                                    @foreach (var gritem in groupitem.GroupBy(n => n.NhaSanXuat))
                                    {
                                        if (gritem.Key != null)
                                        {
                                            <li><a href="@Url.Action("hienThiLoaiSP","SanPham",new {id = @gritem.Key.MaNSX})">@gritem.Key.TenNSX</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                }
                <li><a href="#">Tin Tức</a></li>
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="#">Liên Hệ</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>


