@using webbandienthoai.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Quản Lý Sản Phẩm";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    //khởi tạo control webgrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 6);
}
<style>
    .Footer {
        height: 100px;
    }

        .Footer a {
            display: inline-block;
            text-decoration: none;
            border: 2px solid #808080;
            color: #ffffff;
            background: #2987f0;
            padding: 5px 10px;
        }

    .Table, th, tr, td {
        text-align: center;
        border: 1px solid #000000;
        font-size: 16px;
        padding: 5px 10px;
    }

    .Header {
        background-color: #e6dada;
    }

    img {
        width: 150px;
        height: 120px;
    }
</style>
<h2 style="margin:10px 0">Quản Lý Sản Phẩm</h2>
<div class="container_pro">
    <div class="col-md-6">
        @Html.ActionLink("Thêm Sản Phẩm", "TaoMoi", null, new { @class = "btn btn-success" })
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("TimTenSP", "QuanLySanPham", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div style="float: right">
                <div class="form-group">
                    @Html.TextBox("Search", ViewBag.Search as string, new { @class = "form-control", placeholder = "Tìm tên sản phẩm ...", style = "width: 400px" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<div class="clearfix"></div>
<br />
<br />
@grid.GetHtml(
    tableStyle: "Table",
    headerStyle: "Header",
    footerStyle: "Footer",
    rowStyle: "Row",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaSP", "Mã Sản Phẩm"),
    grid.Column("TenSP", "Tên Sản Phẩm"),
    grid.Column("MoTa", "Mô Tả", format: p => @Html.Raw(p.MoTa)),
    grid.Column("HinhAnh", "Hình Ảnh", format: p => @Html.Raw("<img src=\"../Content/Images/Products/" + p.HinhAnh + "\">")),
    grid.Column("DonGia", "Đơn Giá", format: p => Html.Raw(p.DonGia.ToString("#,##") + " đ")),
    grid.Column("SoLuongTon", "Số Lượng Tồn"),
    grid.Column("Moi", "Mới"),
    grid.Column(format: p => Html.ActionLink("Sửa", "SuaSP", new { id = p.MaSP }, new { style = "display: block;text-decoration: none;background-color: #0094ff;padding:5px 8px;border:1px solid #00ffff;border-radius:3px 4px;" })),
    grid.Column(format: p => Html.ActionLink("Xóa", "XoaSP", new { id = p.MaSP }, new { style = "display: block;text-decoration: none;background-color: #ff6a00;padding:5px 8px;border:1px solid #ffd800;border-radius:3px 4px;" }))
    )
)