
@model webbandienthoai.Models.ThanhVien
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng ký</title>
    <!-- meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Đăng ký" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta data -->
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <!-- css files -->
    <link href="@Url.Content("~/Content_Admin/css/style.css")" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->
    <link href="~/Content_Admin/css/fontawesome-all.css" rel="stylesheet" />
    <style>
        .register-form .checkbox a:hover, .register-form .checkbox a:focus {
            color: #1accfd;
        }

        .validation-summary-errors {
            color: red;
        }

            .validation-summary-errors li {
                margin-bottom: 4px;
            }

        .register-form .fields-grid label {
            font-weight: bold;
        }

        .btn-cancel:focus {
            outline: none !important;
            border-color: transparent !important;
        }
    </style>
</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register-in">
                    <h1>DRAGONPHONE</h1>
                    <p style="color: #000; text-align: justify; text-indent: 20px">Xin chào mừng và hoan nghênh quý khách đến với DragonPhone nơi tuyệt vời dành cho những người đam mê công nghệ và phong cách.</p>
                    <p style="color: #000; text-align: justify; text-indent: 20px">Trang web của chúng tôi cam kết sẽ luôn đồng hành và hỗ trợ quý khách trong hành trình tìm kiếm các sản phẩm công nghệ phù hợp nhất với sở thích và nhu cầu của mình.</p>
                    <div style="display: flex; justify-content: center;" class="link">
                        @Html.ActionLink("Bạn đã có tài khoản", "DangNhap", "Login")
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2>ĐĂNG KÝ</h2>
                    <div class="register-form">
                        @using (Html.BeginForm("DangKy", "Register", FormMethod.Post, new { @id = "registerForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="fields-grid">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.Hidden("MaLoaiTV",2)
                                <div class="styled-input agile-styled-input-top">
                                    @Html.TextBoxFor(model => model.TaiKhoan, new { required = "" })
                                    <label>
                                        <i class="fa fa-user"></i> @Html.DisplayNameFor(model => model.TaiKhoan)
                                    </label>
                                    <p id="errorTaiKhoan" style="color: red;"></p>
                                    @*@Html.LabelFor(model => model.TaiKhoan, "Tài khoản")*@
                                </div>
                                <div class="styled-input">
                                    @Html.TextBoxFor(model => model.HoTen, new { required = "" })
                                    <label>
                                        <i class="fa fa fa-address-card"></i> @Html.DisplayNameFor(model => model.HoTen)
                                    </label>
                                    @*@Html.LabelFor(model => model.HoTen, "Họ và tên")*@
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    @Html.TextBoxFor(model => model.Email, new { required = "", oninput = "validateEmail()" })
                                    <label>
                                        <i class="fa fa-envelope"></i> @Html.DisplayNameFor(model => model.Email)
                                    </label>
                                    @*@Html.LabelFor(model => model.Email, "Email")*@
                                    <p id="errorEmail" style="color: red;"></p>
                                </div>
                                <div class="styled-input">
                                    @Html.PasswordFor(model => model.MatKhau, new { @id = "password", required = "", oninput = "checkPasswordLength()" })
                                    <label>
                                        <i class="fa fa-lock"></i> @Html.DisplayNameFor(model => model.MatKhau)
                                    </label>
                                    @*@Html.LabelFor(model => model.MatKhau, "Mật khẩu")*@
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    @Html.PasswordFor(model => model.MatKhau, new { @id = "confirmPassword", required = "", oninput = "checkPasswordMatch()" })
                                    <label>
                                        <i class="fa fa-lock"></i> Nhập lại mật khẩu
                                    </label>
                                    @*@Html.LabelFor(model => model.MatKhau, "Nhập lại mật khẩu")*@
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    @Html.TextBoxFor(model => model.SoDienThoai, new { @id = "phone", required = "", oninput = "checkPhoneNumberLength()" })
                                    <label>
                                        <i class="fa fa-phone"></i> @Html.DisplayNameFor(model => model.SoDienThoai)
                                    </label>
                                    @*@Html.LabelFor(model => model.SoDienThoai, "Số điện thoại")*@
                                    <span></span>
                                </div>
                                <div class="clear"> </div>
                                <div>
                                    @Html.Captcha("Làm mới", "Nhập mã", 5)
                                </div>
                                <div class="clear"> </div>
                                <label class="checkbox"><input id="agreeCheckbox" style="margin-left: 0px; -webkit-appearance: auto; position: relative " type="checkbox" name="checkbox"><i></i>Tôi đồng ý với các <a href="#">Điều khoản dịch vụ</a></label>
                            </div>
                            <div style="display: flex; justify-content: center">
                                <input class="register-button" type="submit" value="Đăng ký">
                            </div>
                        }
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>
<script>
    function checkPasswordLength() {
        var passwordField = document.getElementById('password');

        if (passwordField.value.length < 6) {
            passwordField.setCustomValidity('Mật khẩu phải có ít nhất 6 ký tự.');
        } else {
            passwordField.setCustomValidity('');
        }
    }
</script>

<script>
    function checkPhoneNumberLength() {
        var phoneField = document.getElementById('phone');
        var phoneNumber = phoneField.value;
        var phoneRegex = /^\d+$/;

        if (!phoneRegex.test(phoneNumber)) {
            phoneField.setCustomValidity('Số điện thoại phải là số');
        }
        else if (phoneNumber.length < 10) {
            phoneField.setCustomValidity('Số điện thoại phải chứa ít nhất 10 chữ số.');
        }
        else {
            phoneField.setCustomValidity('');
        }
    }
</script>

<script>
    function validateEmail() {
        var emailField = document.getElementById('Email');
        var email = emailField.value;
        var emailRegex = /^[A-Za-z0-9._%+-]+\@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;

        if (!emailRegex.test(email)) {
            emailField.setCustomValidity('Địa chỉ Email không hợp lệ.');
        } else {
            emailField.setCustomValidity('');
        }
    }
</script>


<script>
    function checkPasswordMatch() {
        var passwordField = document.getElementById('password');
        var confirmPasswordField = document.getElementById('confirmPassword');
        var password = passwordField.value;
        var confirmPassword = confirmPasswordField.value;

        if (password !== confirmPassword) {
            confirmPasswordField.setCustomValidity('Mật khẩu không trùng khớp.');
        } else {
            confirmPasswordField.setCustomValidity('');
        }
    }
</script>
<script>
    function validateCheckbox() {
        var agreeCheckbox = document.getElementById('agreeCheckbox');

        if (!agreeCheckbox.checked) {
            agreeCheckbox.setCustomValidity('Vui lòng đồng ý với các Điều khoản dịch vụ để tiếp tục đăng ký.');
        } else {
            agreeCheckbox.setCustomValidity('');
        }
    }

    // Gọi hàm validateCheckbox() khi có sự kiện change cho checkbox
    document.getElementById('agreeCheckbox').addEventListener('change', validateCheckbox);

    // Hàm kiểm tra biểu mẫu trước khi gửi
    function validateForm() {
        validateCheckbox(); // Kiểm tra checkbox trước khi gửi
        var form = document.querySelector('form');

        if (!form.checkValidity()) {
            // Biểu mẫu không hợp lệ, không gửi biểu mẫu
            event.preventDefault(); // Ngăn chặn gửi biểu mẫu
        }
    }

    // Gọi hàm validateForm() khi biểu mẫu được gửi đi
    document.querySelector('form').addEventListener('submit', validateForm);
</script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#TaiKhoan").blur(function () {
            var laygt = $(this).val(); // Lấy giá trị từ textbox
            if (laygt) {
                $.ajax({
                    url: "/Register/KTTaiKhoan", // Thay đổi đường dẫn và tên controller của bạn
                    data: { username: laygt },
                    type: "GET",
                    success: function (result) {
                        if (result) {
                            $("#errorTaiKhoan").text('Tên tài khoản đã tồn tại');
                        }
                        else {
                            $("#errorTaiKhoan").text('');
                        }
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#Email").blur(function () {
            var laygt = $(this).val(); // Lấy giá trị từ textbox
            if (laygt) {
                $.ajax({
                    url: "/Register/KTEmail", // Thay đổi đường dẫn và tên controller của bạn
                    data: { email: laygt },
                    type: "GET",
                    success: function (result) {
                        if (result) {
                            $("#errorEmail").text('Email đã tồn tại');
                        }
                        else {
                            $("#errorEmail").text('');
                        }
                    }
                });
            }
        });
    });
</script>

