@using webbandienthoai.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout_sp.cshtml";
}
<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px auto 20px 50%;
        border-radius: 4px;
    }
</style>
<!-- STORE -->
<div id="store" class="col-md-9">
    <!-- store top filter -->
    <div class="store-filter clearfix">
    </div>
    <!-- /store top filter -->
    <!-- store products -->
    <div class="row">
        @foreach (var item in Model)
        {
            decimal? deal = item.DonGia;
            decimal percent = 0;
            if (item.MaKhuyenMai != null)
            {
                if (DateTime.Now >= item.KhuyenMai.NgayBatDau && DateTime.Now <= item.KhuyenMai.NgayKetThuc)
                {
                    percent = item.KhuyenMai.PhanTramGiamGia;
                }
            }
            decimal? price = deal - (deal * (percent / 100));
            <!-- product -->
            <div class="col-md-4 col-xs-6">
                <div class="product">
                    @if (Session["TaiKhoans"] != null && Session["TaiKhoans"].ToString() != "")
                    {
                        <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = item.MaSP })">
                            <div class="product-img">
                                <img src="@Url.Content("~/Content/images/Products/" + item.HinhAnh)" alt="">
                                <div class="product-label">
                                    @if (percent != 0)
                                    {
                                        <span class="sale">@percent%</span>
                                    }
                                    @if (item.Moi == true)
                                    {
                                        <span class="new">NEW</span>
                                    }


                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("DangNhap", "Login")">
                            <div class="product-img">
                                <img src="@Url.Content("~/Content/images/Products/" + item.HinhAnh)" alt="">
                                <div class="product-label">
                                    @if (percent != 0)
                                    {
                                        <span class="sale">@percent%</span>
                                    }
                                    @if (item.Moi == true)
                                    {
                                        <span class="new">NEW</span>
                                    }


                                </div>
                            </div>
                        </a>
                    }
                    <div class="product-body">
                        <p class="product-category">@item.NhaSanXuat.TenNSX</p>
                        <h3 class="product-name"><a href="#">@item.TenSP</a></h3>
                        <h4 class="product-price">
                            @string.Format("{0:N0} \u20ab", price)
                            @if (price != deal)
                            {
                                <del class="product-old-price">@string.Format("{0:N0} \u20ab", deal)</del>
                            }
                        </h4>
                        <div class="product-rating">
                            @Html.Raw(webbandienthoai.Models.Common.html_danhgia(item.DanhGia))
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Thêm Vào Yêu Thích</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Thêm So Sánh</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Chi tiết</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        @if (Session["TaiKhoans"] != null && Session["TaiKhoans"].ToString() != "")
                        {
                            <button class="add-to-cart-btn btnthem" onclick="themgiohang(@item.MaSP)"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                        }
                        else
                        {
                            <button class="add-to-cart-btn btnthem" onclick="redirectToLoginPage()"><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</button>
                        }
                    </div>
                </div>
            </div>
        }
        <!-- /product -->
    </div>
    <!-- /store products -->
    <!-- store bottom filter -->
    <div class="dlink">
        @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
    </div>
    <!-- /store bottom filter -->
</div>
<!-- /STORE -->
<script>
    function redirectToLoginPage() {
        window.location.href = '@Url.Action("DangNhap", "Login")'; // Chuyển hướng đến trang đăng nhập
    }
</script>
<script>
    function themgiohang(iMaSP) {
        $.ajax({
            url: '@Url.Action("ThemGioHang", "GioHang")',
            type: 'POST',
            data: {
                iMaSP: iMaSP,
                sl: 1
            },
            success: function(response) {
                if (response.success) {
                    alert(response.message); // Thông báo thành công
                    window.location.reload();
                } else {
                    alert(response.message); // Thông báo lỗi
                }
            },
            error: function() {
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }
        });
    }
</script>
