
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    //khởi tạo control webgrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 6);
}
<style>
    .Footer {
        height: 100px;
    }

        .Footer a {
            display: inline-block;
            text-decoration: none;
            border: 2px solid #808080;
            color: #ffffff;
            background: #2987f0;
            padding: 5px 10px;
        }

    .Table, th, tr, td {
        text-align: center;
        border: 1px solid #000000;
        font-size: 16px;
        padding: 5px 10px;
    }

    .Table {
        width: 100%;
    }

    .Header {
        background-color: #e6dada;
    }

    img {
        width: 160px;
        height: 120px;
    }
</style>

<h2 style="margin:10px 0">Quản Lý Quảng Cáo</h2>
<div class="clearfix"></div>
<br />
@Html.ActionLink("Thêm Quảng Cáo", "ThemQuangCao", null, new { @class = "btn btn-success" })
<div class="clearfix"></div>
<br />
<br />
@grid.GetHtml(
    tableStyle: "Table",
    headerStyle: "Header",
    footerStyle: "Footer",
    rowStyle: "Row",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaQuangCao", "Mã Quảng Cáo"),
    grid.Column("TenQC", "Tên Quảng Cáo"),
    grid.Column("HinhAnh", "Hình Ảnh", format: p => @Html.Raw("<img src=\"../Content/Images/Banners/" + p.HinhAnh + "\">")),
    grid.Column("NgayCapNhat", "Ngày Cập Nhật", format: p => p.NgayCapNhat.ToString("dd/MM/yyyy")),
    grid.Column(format: p => Html.ActionLink("Xóa", "XoaQC", new { id = p.MaQuangCao }, new { style = "display: block;text-decoration: none;background-color: #ff6a00;padding:5px 8px;border:1px solid #ffd800;border-radius:3px 4px;" }))
    )
)
<script>
    $(document).ready(function () {
        var themthanhcong = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["themthanhcong"]))';// HttpUtility.JavascriptStringEncode để đảm báo mã hóa chuỗi an toàn khi dùng các ký tự đặc biệt
        var xoathanhcong = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["xoathanhcong"]))';
        console.log(themthanhcong);
        console.log(xoathanhcong);
        if (themthanhcong) {
            alert(themthanhcong);
        }
        if (xoathanhcong) {
            alert(xoathanhcong);
        }
    });
</script>

