@using webbandienthoai.Models
@model IEnumerable<ChiTietDonDatHang>
@{
    ViewBag.Title = "XemDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .contact .tittle {
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 50px;
        position: relative;
    }

        .contact .tittle .heading-style {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

            .contact .tittle .heading-style i {
                display: block;
                width: 30px;
                height: 2px;
                background: #000;
                margin: 0 10px;
                position: relative;
            }

    .all {
        width: 80%;
        height: auto;
        position: relative;
        left: 10%;
        right: 10%;
        top: 20px;
        font-size: 16px;
    }

    .ab, .ab tr, .ab td, .ab th {
        border: 2px solid #000000;
    }

    .ac, .ac tr, .ac td, .ac th {
        border: hidden;
    }

    .kichthuoc {
        width: 100%;
    }
</style>
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li><a href="#" class="active">Đơn Hàng</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<div class="contact">
    <h3 class="tittle col-md-12">
        Đơn Hàng
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
</div>
<div class="clearfix"></div>
<div class="all">
    @if (Model == null)
    {
        <h1 style="text-align:center">Giỏ hàng rỗng !</h1>
    }
    else
    {
        <table class="table ab">
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Hình Ảnh</th>
                <th>Tên Sản Phẩm</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
            </tr>
            @{decimal thanhtien = decimal.Zero;
                decimal tongtien = decimal.Zero;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td><img src="@Url.Content("~/Content/Images/Products/" + item.SanPham.HinhAnh)" width="50" height="50" /></td>
                    <td>@item.TenSP</td>
                    <td>@item.DonGia.ToString("#,##") đ</td>
                    <td>@item.SoLuong</td>
                    @{thanhtien = item.DonGia * item.SoLuong;
                        tongtien += thanhtien;}
                    <td>@thanhtien.ToString("#,##")</td>
                </tr>

            }
            <tr>
                <td colspan="6" style="text-align:right">Tổng Tiền: @tongtien.ToString("#,##")</td>
            </tr>

        </table>
    }
</div>
